# First data exploration for the school world exploration project

This notebook contains the pre-processing of our chosen data sets and some basic statistics to get insights about the data.
The overall project goal can be expressed as:

> Exploring global education through interactive visuals, revealing the diversity and disparities within school systems across urban and rural landscapes.

Data sets:
- [World Bank EdStats](https://datacatalog.worldbank.org/search/dataset/0038480/education-statistics)
- ...

In [2]:
import pandas as pd

## Load data

In [8]:
PATH = "./data/"

# Loading the EdStats data set from the World Bank
countries = pd.read_csv(PATH+ "EdStatsCountry.csv")
country_series = pd.read_csv(PATH+"EdStatsCountry-Series.csv")
data = pd.read_csv(PATH+"EdStatsData.csv")
foot_note = pd.read_csv(PATH+"EdStatsFootNote.csv")
series = pd.read_csv(PATH+"EdStatsSeries.csv")

In [20]:
# Print available attributes
def print_columns(df, df_name):
    print("\n" + df_name)
    print(df.columns)


print_columns(countries, "Countries")
print_columns(country_series, "Country Series")
print_columns(data, "Data")
print_columns(foot_note, "Foot Note")
print_columns(series, "Series")

Countries
Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

Country Series
Index(['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3'], dtype='object')

Data
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

Foot Note
Index(['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4'], dtype='object')

Series
Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

**The 'Country Code' and 'Series Code' attributes can be used as ids accross the dfs to link data.**

## Visual exploration 
The [World Bank]() website was use to explore big chuncks of the data set. Indeed, the data set contains very rich but sparse data accross **XXX** countries, over **XXX** years for **XXX** categories of data. This notebook explores the data related to the following key features selected from the world bank website. 

- feature 1
- feature 2
- ...

In [21]:
# TODO explore data youpi !
# idea of things to look at
# for numerical var:
    # histograms, box plots, scatter plots, correlation matrices... 
# for categorical var:
    # bar charts ...
# basic stats on data
# get insight on distribution, outliers ect.

## Draft pieces of code (to remove in the end)

In [4]:
attendanceF = data[data["Indicator Code"] == "HH.DHS.NAR.1.F"]

In [5]:
subset = attendanceF.dropna(subset=['2002','2003','2004','2005'], how='all')

In [6]:
subset[['Country Name','2002','2003','2004','2005']].head()

        Country Name  2002       2003       2004       2005
121515       Armenia   NaN        NaN        NaN  98.246757
147170    Bangladesh   NaN        NaN  84.883621        NaN
176490       Bolivia   NaN  82.205487        NaN        NaN
202145  Burkina Faso   NaN  28.879824        NaN        NaN
213140      Cambodia   NaN        NaN        NaN  76.633008